
.local-file {
    color: gray;
}

.remote-file {
    color: black;
}

.selectedFile {
	background-color: #d3d3d3;
	color: #000;
}

.visuallyDeleted {
	text-decoration: line-through;
	color: red;
	opacity: 0.6;
}

#filesListContainer ul li {
	cursor: pointer;
}

#filesListContainer ul li:hover {
	color: #535353;
}



